body {
  text-align: center;
}

#twitch {
  color: #bb88dd
}

#twitch:hover {
  color: #ddaaff
}

#twitter {
  color: #00aaac
}

#twitter:hover {
  color: #aaccff
}

#github {
  color: var(--text-color)
}

#github:hover {
  color: #cccccc
}

#gitlab {
  color: #ff6866
}

#gitlab:hover {
  color: #ffacaa
}

#gl-icon {
  fill: #ff6866
}

#gitlab:hover #gl-icon {
  fill: #ffacaa
}

#youtube {
  color: #ff3333
}

#youtube:hover {
  color: #ff7777
}

a {
  color: var(--text-color)
}

li, ol {
  letter-spacing: 2px;
  font-size: 19px;
  font-weight: 700
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 100px 20vw
}

body {
  --text-color: #222;
  --bkg-color: #fff;
  --tpos: 5px;
  background: var(--bkg-color);
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
  --tpos: 20px;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
    --tpos: 20px;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
    --tpos: 5px;
  }
}

* {
  font-family: Arial, Iosevka, Helvetica, sans-serif;
}

h1,p {
  color: var(--text-color);
}

.bg2text {
  background: var(--text-color)
}

.bg2bg {
  background: var(--bkg-color)
}

.bg2blue {
  background: #3c31dd
}

.bg2red {
  background: #dd3f31
}

.wave-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg)
}

.wave-1 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 141px
}

.wave-1 .shape-fill {
  fill: #dd3f31
}

@media (max-width:767px) {
  .wave-1 svg {
    width: calc(100% + 1.3px);
    height: 55px
  }
}

.wave-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0
}

.wave-2 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 141px
}

.wave-2 .shape-fill {
  fill: #dd3f31
}

@media (max-width:767px) {
  .wave-2 svg {
    width: calc(118% + 1.3px);
    height: 73px
  }
}

.wave-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0
}

.wave-3 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 141px
}

.wave-3 .shape-fill {
  fill: #3c31dd
}

@media (max-width:767px) {
  .wave-3 svg {
    width: calc(100% + 1.3px);
    height: 55px
  }
}

.red-text {
  color: #ff5f53
}

.blue-text {
  color: #5e53ff
}

#bar {
  background: var(--bkg-color)
}

#title {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: none;
  font-size: 20px;
  color: var(--text-color);
  text-align: center
}

.btn-toggle {
  width: 40px;
  height: 25px;
  border: 0;
  border-radius: 20%;
  top: 10px;
  right: 10px;
  position: absolute;
  background: var(--text-color)
}

#toggle {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  position: inherit;
  left: var(--tpos);
  bottom: 5px;
  background: var(--bkg-color)
}

.social {
  letter-spacing: 2px;
  font-size: 17px;
  text-align: left;
  padding-left:40%;
  text-decoration: none;
}

#tleft {
  position: absolute;
  left: 10px;
  top: 10px
}

.round {
  border-radius: 50%;
}

.padding {
  padding: 2%;
}

.list {
  text-align: left;
  text-decoration: none;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes float-ns {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img { width: 100%; height: auto; }
}

.float {
  animation: float-ns 6s ease-in-out infinite;
}
